{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-home-header">
    {{> header-background background=@site.cover_image}} {{!--Special header-image.hbs partial to generate the background image--}}
        <div class="inner">
            {{> "site-nav"}}
            <div class="site-header-content">
                <h1 class="site-title">
                    {{#if @site.logo}}
                        <svg width="147.98mm" height="23.547mm" version="1.1" viewBox="0 0 147.98 23.547" xmlns="http://www.w3.org/2000/svg">
                            <g transform="translate(-4.2535 -4.941)">
                                <path class="active-path" d="m22.879 20.118c2.6627 0 4.8289-2.1662 4.8289-4.8289 0-1.2011-0.44391-2.3523-1.2502-3.2416-0.65284-0.72021-1.4992-1.2216-2.4297-1.449-0.04904-3.1279-2.6087-5.6571-5.748-5.6571-1.801 0-3.4564 0.82351-4.5413 2.2314-0.59931-0.25762-1.2448-0.39181-1.8973-0.39181-2.6627 0-4.8289 2.1662-4.8289 4.8289 0 0.28241 0.02551 0.56427 0.075992 0.84363-1.642 0.4696-2.8354 1.9867-2.8354 3.7554 0 2.1554 1.7537 3.9091 3.9091 3.9091h3.4492v4.4237l-1.8177 0.60595c-0.37924-0.48541-0.96938-0.79854-1.6316-0.79854-1.1411 0-2.0695 0.92842-2.0695 2.0695 0 1.1411 0.92842 2.0695 2.0695 2.0695 1.1285 0 2.0483-0.90812 2.0686-2.032l2.2885-0.76279c0.28169-0.09395 0.47176-0.3575 0.47176-0.65446v-4.9209h2.2995v4.3496c-0.80303 0.28492-1.3797 1.0517-1.3797 1.951 0 1.1411 0.92842 2.0695 2.0695 2.0695 1.1411 0 2.0695-0.92842 2.0695-2.0695 0-0.89932-0.57667-1.6661-1.3797-1.951v-4.3496h2.2995v4.9209c0 0.29696 0.19007 0.5605 0.47176 0.65446l2.2885 0.76279c0.0203 1.1239 0.9401 2.032 2.0686 2.032 1.1411 0 2.0695-0.92842 2.0695-2.0695 0-1.1411-0.92842-2.0695-2.0695-2.0695-0.66218 0-1.2523 0.31313-1.6316 0.79854l-1.8177-0.60595v-4.4237zm-14.717 6.9905c-0.38103 0-0.68985-0.30882-0.68985-0.68985 0-0.38104 0.30881-0.68985 0.68985-0.68985 0.38103 0 0.68985 0.30881 0.68985 0.68985 0 0.38103-0.30882 0.68985-0.68985 0.68985zm7.8183 0c-0.38103 0-0.68985-0.30882-0.68985-0.68985 0-0.38104 0.30882-0.68985 0.68985-0.68985 0.38104 0 0.68985 0.30881 0.68985 0.68985 0 0.38103-0.30881 0.68985-0.68985 0.68985zm7.8183-1.3797c0.38103 0 0.68985 0.30881 0.68985 0.68985 0 0.38103-0.30881 0.68985-0.68985 0.68985-0.38103 0-0.68985-0.30882-0.68985-0.68985 0-0.38104 0.30882-0.68985 0.68985-0.68985z" fill="#00d4c6" stroke-width=".04599" data-old_color="#000000" data-original="#000000"/>
                                <text x="35.454166" y="21.718218" fill="#ffffff" font-family="sans-serif" font-size="16.933px" stroke-width=".26458" style="line-height:1.25" xml:space="preserve"><tspan x="35.454166" y="21.718218" font-family="Ubuntu" font-size="16.933px" font-weight="bold" stroke-width=".26458">Always Cloudy</tspan></text>
                            </g>
                        </svg>
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                </h1>
                <h2 class="site-description">{{@site.description}}</h2>
            </div>
        </div>
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">
        <div class="post-feed">
            {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</main>

{{> site-header}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

    // NOTE: Scroll performance is poor in Safari
    // - this appears to be due to the events firing much more slowly in Safari.
    //   Dropping the scroll event and using only a raf loop results in smoother
    //   scrolling but continuous processing even when not scrolling
    $(document).ready(function () {
        
        var nav = document.querySelector('.site-nav-main .site-nav');
        var feed = document.querySelector('.post-feed');

        var lastScrollY = window.scrollY;
        var lastWindowHeight = window.innerHeight;
        var lastDocumentHeight = $(document).height();
        var ticking = false;

        function onScroll() {
            lastScrollY = window.scrollY;
            requestTick();
        }

        function onResize() {
            lastWindowHeight = window.innerHeight;
            lastDocumentHeight = $(document).height();
            requestTick();
        }

        function requestTick() {
            if (!ticking) {
                requestAnimationFrame(update);
            }
            ticking = true;
        }

        function update() {
            var trigger = feed.getBoundingClientRect().top + window.scrollY;
            var progressMax = lastDocumentHeight - lastWindowHeight;

            // show/hide nav
            if (lastScrollY >= trigger - 20) {
                nav.classList.add('fixed-nav-active');
            } else {
                nav.classList.remove('fixed-nav-active');
            }

            ticking = false;
        }

        window.addEventListener('scroll', onScroll, { passive: true });
        window.addEventListener('resize', onResize, false);

        update();

    });
</script>
{{/contentFor}}